<h2>Current configurations</h2>

<table border="0" class="kv">
  <tr>
    <th>Application name</th>
    <td><%= @app_name %></td>
  </tr>
  <tr>
    <th>Data source directory</th>
    <td><%= @data_sources_dir %></td>
  </tr>
  <tr>
    <th>Processing segments directory</th>
    <td><%= @segments_dir %></td>
  </tr>
</table>

<p class="detail">
  To alter these configurations edit the config/environment.rb file.
</p>