<h2>Current configurations</h2>

<p class="detail">
  To alter these configurations edit the config/environment.rb file.
</p>

<% kv_format = '%-25s : \t %s' %>
<p><%= kv_format % ['Data source directory', @data_dir] %></p>
<p><%= kv_format % ['Processing segments directory', @runsdir] %></p>