<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @app_name %></title>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  
  <div id="page-box">
  
    <h1><%= @app_name %></h1>
    
    <ul id="navigation">
      <% [:home, :data, :segments, :documentation].each do |tab| %>
        <li><%= tab_content(@active_tab, tab) %></li>
      <% end %>
    </ul>

    <div id="page-content">
    	<%= yield %>
    </div>
  
  </div>

</body>
</html>
