<h2>Summary for <span style="color:red;"><%= @segment %></span> segment</h2>

<h3>Datasets Submitted</h3>
<ul class="datalist">
  <% @data_ids.zip(@statii).each do |data_id_stat| %>
    <li><%= data_id_stat[0] %>:<%= data_id_stat[1] %></li>
  <% end %>
</ul>

<a href='/segments'>back to segments</a>
