<h2>Summary for <span style="color:red;"><%= @segment %></span> segment</h2>

<h3>Datasets Submitted</h3>
<ul class="datalist">
  <% @data_ids.each do |data_id| %>
    <li><%= data_id %></li>
  <% end %>
</ul>

<a href='/segments'>back to segments</a>
