<h2>Summary for <span style="color:red;"><%= @segment.name %></span> segment</h2>

<h3>Datasets Submitted</h3>
<table border="0" class="kv">
  <% @segment.datasets.each do |dataset| %>
    <tr><th><%= dataset.data_id %><th><td class="<%= dataset.status %>"><%= dataset.status %></td></tr>
  <% end %>
</table>

<p><a href='/segments'>back to segments</a></p>
