<h2>Current Data Processing Segments</h2>
<p class="detail"><%= @runs_dir %></p>
<ul>
  <% @segments.each do |segment| %>
    <li><a href="segments/<%= segment %>"><%= segment %></a></li>
  <% end %>
</ul>